// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: var(--spacer-3);
  padding-bottom: var(--spacer);
  margin-bottom: var(--spacer-3);
}

.headerimg {
  flex: 1;
  order: 1;
}

.masthead-title {
  flex: 1;
  order: 1;
  margin-bottom: 0;
  font-size: 2.2em;
  color: var(--yellow);

  a {
    color: inherit;
    text-decoration: none;
  }

  small {
    font-weight: 400;
    opacity: .5;
  }
}

.topnav {
  flex: 1;
  order: 2;
  
  a{
     
    text-decoration: none;
  }
  ul{
    padding: 12px 0;
    float: right;
    list-style-type: none;
    margin: 0,;
    padding: 0;

  }
  li{
    float: left;
    margin-left: 1em;
  }

  
}

@media (max-width: 768px) {
  .masthead {
    flex-direction: column;
  }

  .headerimg {
    order: 1; 
    max-width: 70%;
  }

  .topnav {
    order:2;
    display: flex;
    margin-top: 0.6em; /* Adjust as needed */
  }

  .topnav ul {
    display: flex;
    list-style-type: none;
  }

  .topnav li {
    padding-right: 1.2em;
  }


}



